{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules": "auto",
        "debug": false,
        "targets": {
          "firefox": "140.7.0",
          "chrome": "88",
          "opera": "88"
        }
      }
    ]
  ]
}
